<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="icon" href="./Images/indexIcon.png" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@multiavatar/multiavatar/multiavatar.min.js"></script>
  <script src="./scripts/index.js"></script>
</head>


<body>
  <div style="
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 100%;
      ">
    <h1 style="color: black; font-size: 45px; font-family: Georgia, 'Times New Roman', Times, serif; height: 100px; line-height: 100px;">
      Voltaire
    </h1>
    <!-- <div id="userImage"></div> -->
    <div style="display: flex; width: 300px; justify-content: space-between">
      <button id="CreateDocButton" style="
            border-radius: 10px;
            width: 120px;
            height: 120px;
            font-size: 22px;
          ">
        New
      </button>

      <button id="openBtn" style="
            border-radius: 10px;
            width: 120px;
            height: 120px;
            font-size: 22px;
          ">
        Open
      </button>
    </div>
  </div>
  <div class="bg-modal">
    <div class="modal-contents">

      <div class="close" id="closeSign">+</div>

      <label for="input"> Enter Document ID </label>
      <br>
      <input id="input" type="text" placeholder="Enter ID Here">
      <button id="joinButton" class="button">Submit</button>


    </div>
  </div>
</body>

</html>