<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./scripts/index.js"></script>
</head>

<body>
    <header>
        <h1>Hello <%= locals.name %>
        </h1>
    </header>
    <main>
        <form action="/" method="post">
            <input type="submit" value="Make Document">
        </form>

        <br>
        <div>
            <h4>
                Join Document
            </h4>
            <input id="input" type="text">
            <button id="joinButton">
                Join
            </button>
        </div>

    </main>
</body>

</html>